#video-container {
    display: flex;
}

video {
    width: 320px;
    height: 240px;
}

#chat-container {
    margin-top: 20px;
}

#chat-messages {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#chat-input {
    width: calc(100% - 100px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

#send-button, #nextButton {
    width: 80px;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

#send-button {
    background-color: #4CAF50; /* Green */
}

#nextButton {
    background-color: #008CBA; /* Blue */
}

#nextButton:disabled {
    background-color: #ccc; /* Grayed out when disabled */
    cursor: not-allowed;
}